# Copy this file to .env and replace the placeholders with actual values
OPENAI_API_KEY="your_openai_api_key_here"
DB_URL="your_database_url_here"
# Anthropic Configuration to run Claude Code in programmatic mode
ANTHROPIC_API_KEY=

# Claude Code Path - if 'claude' does not work run 'which claude' and paste that value here
CLAUDE_CODE_PATH=/path/to/claude